* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#body-bg {
    /* background: linear-gradient(278deg, black, transparent); */
    background-image: url(../img/train-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding-top:5vh ;
}